@function getColor($color-value) {
  @return map-get($colors, $color-value);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$colors: (
  color1: rgba(57, 0, 153, 1),
  color1-lighten: lighten(rgba(57, 0, 153, 1), 40%),
  color2: rgba(158, 0, 89, 1),
  color3: rgba(255, 0, 84, 1),
  color4: rgba(255, 84, 0, 1),
  color5: rgba(255, 189, 0, 1),
);

// Sidebar

.sidebar-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1em;
  background-color: getColor(color1);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 0;
  transition: all 0.45s ease-out;

  .triangle i {
    color: red;
    position: absolute;
    right: -17px;
    top: 50%;
    font-size: 3em;
    transform: translateY(-50%);
  }

  .triangle:hover {
    cursor: pointer;
  }
}

.sidebar-no-show {
  margin-left: -105px;
}

.sidebar {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    color: getColor(color1-lighten);
  }

  i {
    font-size: 3em;
    padding: 0.23em;
  }
}
