* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 1295px) {
  html {
    font-size: 110%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #ff5400;
}

p {
  font-size: 1.2em;
  line-height: 1.4em;
}

.subtitle {
  text-align: center;
  text-transform: uppercase;
  padding: 1em;
  font-size: 1.5em;
  margin-top: 0;
  padding-top: 0;
}

.btn {
  background-color: #ff5400;
  border: none;
  padding: 10px 15px;
  font-size: 1.3em;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 40px #6cc7d6;
          box-shadow: 5px 5px 40px #6cc7d6;
  color: #fff;
}

.sidebar-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 1em;
  background-color: #1a535c;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
}

.sidebar-container .triangle i {
  color: #ff5400;
  position: absolute;
  right: -17px;
  top: 50%;
  font-size: 3em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sidebar-container .triangle:hover {
  cursor: pointer;
}

.sidebar-no-show {
  margin-left: -105px;
}

@media (min-width: 760px) {
  .sidebar-container {
    position: fixed;
    margin: 0;
    height: 100vh;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .container {
    margin-left: 105px;
  }
}

@media (min-width: 760px) and (min-width: 760px) {
  .container {
    height: 100%;
    min-height: 100vh;
  }
}

@media (min-width: 760px) and (min-width: 1295px) {
  .container {
    height: 100%;
  }
}

@media (min-width: 760px) {
  .triangle {
    display: none;
  }
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar li {
  list-style: none;
}

.sidebar a {
  color: #6cc7d6;
}

.sidebar i {
  font-size: 3em;
  padding: 0.23em;
}

.container {
  background-color: #4ecdc4;
}

.topbar {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar .topbar-icon i {
  font-size: 1.5em;
}

.topbar .topbar-text-container {
  margin-left: 1.65em;
}

.topbar .topbar-text-container .topbar-title {
  text-transform: uppercase;
  font-size: 1.65em;
}

.chart {
  height: auto;
  padding: 0.5em;
  margin: 1em;
  padding: 1em;
  background-color: #45b3ab;
}

.chart #myChart {
  width: 90%;
  max-width: 990px;
  margin: 0 auto;
}

.three-block .three-block-container {
  padding: 1.5em 2em;
  display: -ms-grid;
  display: grid;
  gap: 2em;
  max-width: 1340px;
  margin: 0 auto;
}

@media (min-width: 760px) {
  .three-block .three-block-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.three-block .middle {
  background-color: #45b3ab;
}

.three-block .middle select {
  background-color: #ff5400;
  color: #fff;
  margin-bottom: 1em;
  border: none;
  padding: 0.3em;
}

.three-block .middle p {
  margin-bottom: 1em;
}

.three-block .left {
  background-color: #45b3ab;
  padding: 1em;
  border-radius: 10px;
}

.three-block .middle {
  padding: 1em;
  border-radius: 10px;
}

.three-block .right {
  background-color: #45b3ab;
  padding: 1em;
  border-radius: 10px;
}

.three-block .right ul {
  padding: 0;
  margin: 0;
}

.three-block .right li {
  font-size: 1.23em;
  list-style: none;
}
/*# sourceMappingURL=style.css.map */